# Q1

In [2]:
result=1
for i in range (1,6):
    result = result * i
print(result)

120

# Q2

In [12]:
result=0
for i in range (1,6):
     result = result + 
print(result)

0

# Q3

In [10]:
result=0
for i in range (1,6):
     result = result + i
print(result)

15

In [14]:
result=1
for i in range (3,10):
     result = result * i
print(result)

181440

# Q4

In [13]:
result= 1
for i in range (4,9):
      result = result * i
print(result)

6720

# Q5

In [11]:
for i in range (0,6):
    if i !=3:
    
      print(i)

0
1
2
4
5

# Q6

In [42]:
 "this is my fourth string".split()

['this', 'is', 'my', 'fourth', 'string']

In [45]:
count = 0
for i in "this is my fourth string".split():
    count = count + 1
print(count)

5

# Q7

In [46]:
num_list= [12,32,43,35]

num_list.remove(num_list[0])

print (num_list)

[32, 43, 35]

In [ ]:
num_list= [12,32,43,35]

while num_list:

    num_list.remove(num_list[0])

print (num_list)

# Q8

In [57]:
word_list= "this is my fourth string".split()

count=0

my_tweet['entities']['hashtags']
    
print(count)

5

# Q9

In [62]:
my_tweet = {
           "favorite_count":1138,
           "lang": "ch",
           "coordinates": (-75.14310264, 40.05701649),
           "entities": {'hashtags': ['a','b','c']}
           }

my_tweet['entities']['hashtags']

['a', 'b', 'c']

# 9.1

In [64]:
count=0

for i in my_tweet['entities']['hashtags']:
    count=count + 1
      
print(count)

3

# 9.2

In [72]:
hashtag_list = my_tweet['entities']['hashtags']

count = 0

while hashtag_list:
    count = count + 1 
    
    hashtag_list.remove(hashtag_list[0])
print(count)

0

In [73]:
num_list = 12,32,43,35
print( num_list)

(12, 32, 43, 35)

# Q10

In [2]:
number_list = [12,32,43,35]
maximum = -1
minimum = 1000

print(minimum)
print(maximum)

1000
-1